data/**
.venv**/**
**/__pycache__/**
out/**
.vscode/**
**/.chainlit/**
.chainlit
**/.files/**
.files
**/.docker-data/**
env_vars/.env
env_vars/.env.old
build/**/logs
.DS_Store
**/.DS_Store
.pytest_cache
.ruff_cache
.venv
tmp
.secrets
site
